{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text| truncatechars:200 }}</p>
            <div class="date_and_author">
                {{ post.published_date }}
            </div>
            <div class="author">
                {% if user.is_authenticated %}
                    {% if user.id == post.author_id %}
                        <a href="{% url 'dashboard' %}">{{ user.username }}</a>
                    {% else %}
                        {{ post.author }}
                    {% endif %}
                {% else %}
                    {{ post.author }}
                {% endif %}
                <!--{% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}">{{ post.author }}</a>
                {% else %}
                    {{ post.author }}
                {% endif %}
            </div>
        </div>-->
    {% endfor %}

    <h6><div id="footer">
    <div class="pagination">

        <a href="?page={{ posts.first_page}}">&lt;&nbsp; Первая страница</a>

        {% if posts.has_previous %}
            <!-- Показывам кнопку со ссылкой, если есть предыдущая страница -->
            <a href="?page={{ posts.previous_page_number}}">&lt;&nbsp; Предыдущая страница</a>
        {% else %}
            <!-- Показываем неактивную кнопку, если предыдущей страницы нет -->
            <span>&lt;&nbsp; Предыдущая страница</span>
        {% endif %}
        
        <!-- Прибавляем к номеру текущей страницы -4 (т.е. отнимаем 4) -->
        {% if posts.number|add:'-4' > 0 %} 
            <!-- Если до текущей страницы есть больше 4 страниц, показываем многоточие -->
            <span class="ellipsis">...</span>
        {% endif %}
        
        {% if posts.number|add:'-3' > 0 %}
            <!-- Если до текущей страницы есть ещё три страницы -->
            <a href="?page={{ posts.number|add:'-3'}}">{{ posts.number|add:'-3' }}</a>
        {% endif %}
        {% if posts.number|add:'-2' > 0 %}
            <!-- Если до текущей страницы есть ещё две страницы -->
            <a href="?page={{ posts.number|add:'-2'}}">{{ posts.number|add:'-2' }}</a>
        {% endif %}
        {% if posts.number|add:'-1' > 0 %}
            <!-- Если до текущей страницы есть ещё одна страница -->
            <a href="?page={{ posts.number|add:'-1'}}">{{ posts.number|add:'-1' }}</a>
        {% endif %}
        
        <!-- Номер текущей страницы -->
        <span>{{ posts.number }}</span>
        
        {% if posts.number|add:'1' <= last_page %}
            <!-- Если после текущей страницы есть ещё одна страница -->
            <a href="?page={{ posts.number|add:'1'}}">{{ posts.number|add:'1' }}</a>
        {% endif %}
        {% if posts.number|add:'2' <= last_page %}
            <!-- Если после текущей страницы есть ещё две страницы -->
            <a href="?page={{ posts.number|add:'2'}}">{{ posts.number|add:'2' }}</a>
        {% endif %}
        {% if posts.number|add:'3' <= last_page %}
            <!-- Если после текущей страницы есть ещё три страницы -->
            <a href="?page={{ posts.number|add:'3'}}">{{ posts.number|add:'3' }}</a>
        {% endif %}
        
        {% if posts.number|add:'4' <= last_page %}
            <!-- Если после текущей страницы есть ещё четыре страницы -->
            <span class="ellipsis">...</span>
        {% endif %}    
        
        {% if posts.has_next %}
            <!-- Показывам кнопку со ссылкой, если есть следующая страница -->
            <a href="?page={{ posts.next_page_number }}">Следующая страница &nbsp;&gt;</a>
        {% else %}
            <span>Следующая страница &nbsp;&gt;</span>
        {% endif %}

        <a href="?page={{ last_page }}">Последняя страница &nbsp;&gt;</a>
    </div>
    </div></h6>

{% endblock %}