{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text| truncatechars:200 }}</p>
            <div class="date_and_author">
                {{ post.published_date }}
            </div>
            <div class="author">
                {% if user.is_authenticated %}
                    {% if user.id == post.author_id %}
                        <a href="{% url 'dashboard' %}">{{ user.username }}</a>
                    {% else %}
                        {{ post.author }}
                    {% endif %}
                {% else %}
                    {{ post.author }}
                {% endif %}
                <!--{% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}">{{ post.author }}</a>
                {% else %}
                    {{ post.author }}
                {% endif %}
            </div>
        </div>-->
    {% endfor %}

    {% include 'blog/pagination.html' %}

{% endblock %}