{% extends 'base.html' %}

{% block content %}
<h1>Профиль пользователя: {{ user.username}}</h1>
<a class="btn btn-default" href="{% url 'dashboard_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
<h3><div class="information">
    <ul>
        <li>Фамилия: {{ user.last_name }}</li>
        <li>Имя: {{ user.first_name }}</li>
        <li>Отчество: {{ user.profile.patronymic }}</li>
        <li>E-mail: {{ user.email }}</li>
        <li>Номер телефона: {{ user.profile.phone_number }}</li>
        <li>Последние 5 постов:
            <ol>{% for post in last_posts %}
                <li>
                    <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
                    <p>{{ post.published_date}}</p>
                </li>
                {% endfor %}
            </ol>
        </li>
    </ul>
</div></h3>

{% csrf_token %} 
    
{% endblock content %}
